<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-md-4 bg-white ">
      <div class=" row border-bottom padding-sm" style="height: 40px;">
        Members
      </div>

      <!-- =============================================================== -->
      <!-- member list -->
      <ul class="friend-list">
        <% users.forEach((user) => { %>
          <li>
            <h3><%= user.local.name %></h3>
            <p><%= user.local.email %></p>
          </li>
        <% }) %>
      </ul>
    </div>
    <!--=========================================================-->
    <!-- selected chat -->
    <div class="col-md-8 bg-white ">
      <div class="chat-message">
        <ul class="chat">
          <ul id="messages">
          </ul>
          <div id="feedback">
          </div>
        </ul>
      </div>
      <div class="chat-box bg-white">
        <div id="results">
        </div>
        <div class="input-group">
          <form>
            <% if(loggedIn) { %>
            <input id='m' autocomplete='off' class="form-control border no-shadow no-rounded" placeholder="Type your message here" />
            <span class="input-group-btn">
              <button class="btn btn-success no-rounded" type="button">Send</button>
            </span>
            <div class="content">
              <h5>Giphy Search</h5>
              <input id="search-input" class="form-control border no-shadow no-rounded" placeholder="Search GIFs"/>
              <button id = "search-button" class="btn btn-success no-rounded" type="button">Search</button>
          </div>
            <% } %>
          </form>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    var feedback = document.getElementById('feedback');
    var messages = document.getElementById('messages');
    var socket = io()

    $('form').submit(function(){
       socket.emit('chat message', {message: $('#m').val(), _user: '<%= currentUser.local.name %>' });
       $('#m').val('')
       return false
    })

    socket.on('chat message', function(msg){
      $('#messages').append('<li class="right clearfix"><span class="chat-img pull-right"><img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font"><%= currentUser.local.name %></strong><small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small></div><p>' +  msg.message + '</p></div></li>')
    })
    // $('<li>').text(msg._user + ': ' + msg.message )
    //user is typing..
    messages.addEventListener('keypress', function() {
      socket.emit('typing')
    })

    function addMessage(msg) {
      $('#messages').append('<li class="right clearfix"><span class="chat-img pull-right"><img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font"><%= currentUser.local.name %></strong><small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small></div><p>' +  msg.message + '</p></div></li>')
    }

    socket.on('load old chats', function(docs) {
      for (i=docs.length-1; i >= 0; i--) {
        addMessage(docs[i])
      }
    })
  })
</script>
